<h1>New Article</h1>

<!--Add articles_path helper to :url to point the form to that action, action="/articles"-->
<!--form_with scope: :article, url: articles_path, local: true do |form|-->
  
<%= render 'form' %>

<%= link_to 'Back', articles_path %>